networks:
  npm:

services:

  nginxproxymanager:
    container_name: npm-app
    restart: unless-stopped
    image: 'jc21/nginx-proxy-manager:latest'
    networks:
      - 'npm'
    ports:
      - '10.10.116.20:8080:80'
      - '10.10.116.20:8443:443'
      - '10.11.112.20:8080:81'
    environment:
      - DB_MYSQL_HOST=${DB_MYSQL_HOST}
      - DB_MYSQL_PORT=${DB_MYSQL_PORT}
      - DB_MYSQL_USER=${DB_MYSQL_USER}
      - DB_MYSQL_PASSWORD=${DB_MYSQL_PASSWORD}
      - DB_MYSQL_NAME=${DB_MYSQL_NAME}
      - DISABLE_IPV6=${DISABLE_IPV6}
    volumes:
      - '/home/podman/data/npm/app/nginxproxymanager-data:/data'
      - '/home/podman/data/npm/app/nginxproxymanager-ssl:/etc/letsencrypt'

  nginxproxymanager-db:
    container_name: npm-db
    restart: unless-stopped
    image: 'jc21/mariadb-aria:latest'
    networks:
      - 'npm'
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - '/home/podman/data/npm/mysql:/var/lib/mysql'