[global]
  workgroup        = WORKGROUP
  security         = user
  map to guest     = bad user
  disable spoolss  = yes
  load printers    = no
  printing         = bsd
  printcap name    = /dev/null

  # Hardening: only SMB3_11 and NTLMv2
  server min protocol = SMB3_11
  ntlm auth        = no

  # Enforce signing if required
  server signing   = if_required

  # Logging (optional, for debugging/auditing)
  log level        = 2
  log file         = /var/log/samba/log.%m
  max log size     = 6000

  # ID mapping
  idmap config * : backend = tdb

[michael]
   comment = Michael's storage
   path = /srv/smb/michael
   valid users = michael
   read only = no
   browsable = yes
   create mask = 0660
   directory mask = 2770
   force user = michael
   force group = michael
   hosts allow = 127.0.0.1 10.10.116.50 10.10.112.55 10.10.111.50
   hosts deny  = ALL