[global]
  workgroup        = WORKGROUP
  security         = user
  map to guest     = bad user
  disable spoolss  = yes
  load printers    = no
  printing         = bsd
  printcap name    = /dev/null

  # Hardening: only SMB3_11 and NTLMv2
  server min protocol = SMB3_11
  ntlm auth        = no

  # Enforce signing if required
  server signing   = if_required

  # Logging (optional, for debugging/auditing)
  log level        = 2
  log file         = /var/log/samba/log.%m
  max log size     = 1000

  # ID mapping
  idmap config * : backend = tdb


[infra-server]
   comment = Infra-server storage
   path = /srv/smb/infra-server
   valid users = infra
   read only = no
   browsable = yes
   create mask = 0660
   directory mask = 2770
   force user = infra
   force group = infra

[container-server]
   comment = Container-server storage
   path = /srv/smb/container-server
   valid users = container
   read only = no
   browsable = yes
   create mask = 0660
   directory mask = 2770
   force user = container
   force group = container

[nextcloud-server]
   comment = Nextcloud data
   path = /srv/smb/nextcloud-server
   valid users = nextcloud
   read only = no
   browsable = yes
   create mask = 0660
   directory mask = 2770
   force user = nextcloud
   force group = nextcloud
