networks:

  npm:

services:

  nginxproxymanager:
    container_name: npm-app
    restart: unless-stopped
    image: 'jc21/nginx-proxy-manager:latest'
    networks:
      - 'npm'
    ports:
      - '10.10.116.30:8080:80'
      - '10.10.116.30:8443:443'
      - '10.11.112.30:8082:81'
    environment:
      DB_MYSQL_HOST: "nginxproxymanager-db"
      DB_MYSQL_PORT: 3306
      DB_MYSQL_USER: "npm"
      DB_MYSQL_PASSWORD: "KVSG6pJUzPLuEB"
      DB_MYSQL_NAME: "npm"
    volumes:
      - '../data/npm/app/nginxproxymanager-data:/data'
      - '../data/npm/app/nginxproxymanager-ssl:/etc/letsencrypt'

  nginxproxymanager-db:
    container_name: npm-db
    restart: unless-stopped
    image: 'jc21/mariadb-aria:latest'
    networks:
      - 'npm'
    environment:
      MYSQL_ROOT_PASSWORD: '6JnXPz4hbnfQbF'
      MYSQL_DATABASE: 'npm'
      MYSQL_USER: 'npm'
      MYSQL_PASSWORD: 'KVSG6pJUzPLuEB'
    volumes:
      - '../data/npm/mysql:/var/lib/mysql'

  ntp-server:
    container_name: ntp-clients
    image: cturra/ntp:latest
    restart: unless-stopped
    ports:
      - "10.10.116.30:8123:123/udp"
      - "10.10.112.30:8123:123/udp"
    environment:
      - NTP_SERVERS=10.10.112.10
      #- NTP_SERVERS=time.cloudflare.com

  pihole-clients:
    container_name: pihole-clients
    image: pihole/pihole:latest
    ports:
      # DNS Ports
      - "10.10.116.30:5053:53/tcp"
      - "10.10.116.30:5053:53/udp"
      # Default HTTP Port
      - "10.11.112.30:8080:80/tcp"
      # Default HTTPs Port. FTL will generate a self-signed certificate
      - "10.11.112.30:8443:443/tcp"
      # Uncomment the line below if you are using Pi-hole as your DHCP server
      - "10.10.116.30:8067:67/udp"
      # Uncomment the line below if you are using Pi-hole as your NTP server
#      - "10.10.116.30:8123:123/udp"
    environment:
      # Set the appropriate timezone for your location (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g:
      TZ: 'Europe/Amsterdam'
      # Set a password to access the web interface. Not setting one will result in a random password being assigned
      FTLCONF_webserver_api_password: 'Copper6-Elevate9-Fastness6-Rebound6-Unused6'
      # If using Docker's default `bridge` network setting the dns listening mode should be set to 'all'
      FTLCONF_dns_listeningMode: 'all'
    # Volumes store your data between container upgrades
    volumes:
      # For persisting Pi-hole's databases and common configuration file
      - '../data/pihole-clients/etc-pihole:/etc/pihole'
      # Uncomment the below if you have custom dnsmasq config files that you want to persist. Not needed for most starting fresh with Pi-hole v6. If you're upgrading from v5 you and have used this directory before, you should keep it enabled for the first v6 container start to allow for a complete migration. It can be removed afterwards. Needs environment variable FTLCONF_misc_etc_dnsmasq_d: 'true'
      - '../data/pihole-clients/etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      - NET_ADMIN
    restart: unless-stopped

  pihole-servers:
    container_name: pihole-servers
    image: pihole/pihole:latest
    ports:
      # DNS Ports
      - "10.10.112.30:5053:53/tcp"
      - "10.10.112.30:5053:53/udp"
      # Default HTTP Port
      - "10.11.112.30:8081:80/tcp"
      # Uncomment the line below if you are using Pi-hole as your DHCP server
      - "10.10.112.30:8067:67/udp"
      # Uncomment the line below if you are using Pi-hole as your NTP server
#      - "10.10.116.30:8123:123/udp"
    environment:
      # Set the appropriate timezone for your location (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g:
      TZ: 'Europe/Amsterdam'
      # Set a password to access the web interface. Not setting one will result in a random password being assigned
      FTLCONF_webserver_api_password: 'Justifier9-Satchel0-Vixen6-Drainpipe5-Professed3'
      # If using Docker's default `bridge` network setting the dns listening mode should be set to 'all'
      FTLCONF_dns_listeningMode: 'all'
    # Volumes store your data between container upgrades
    volumes:
      # For persisting Pi-hole's databases and common configuration file
      - '../data/pihole-servers/etc-pihole:/etc/pihole'
      # Uncomment the below if you have custom dnsmasq config files that you want to persist. Not needed for most starting fresh with Pi-hole v6. If you're upgrading from v5 you and have used this directory before, you should keep it enabled for the first v6 container start to allow for a complete migration. It can be removed afterwards. Needs environment variable FTLCONF_misc_etc_dnsmasq_d: 'true'
      - '../data/pihole-servers/etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      - NET_ADMIN
    restart: unless-stopped