10.10.116.30		npm.storagemedia.online
10.10.116.30		pihole-clients.storagemedia.online
10.10.116.30		pihole-servers.storagemedia.online
10.10.116.30		heimdall.storagemedia.online
10.10.116.30		nextcloud.storagemedia.online
10.10.116.30		sabnzbd.storagemedia.online