services:

  heimdall:
      image: lscr.io/linuxserver/heimdall:latest
      container_name: heimdall
      ports:
        - 10.11.112.20:8081:80
      environment:
  #      - PUID=1000
  #      - PGID=1000
        - TZ=Europe/Amsterdam
      volumes:
        - '/home/podman/data/heimdall:/config'
      restart: unless-stopped